<div class="container about-container
            border-5 h-100">
    <div class="row">
        <div class="col-md-6 djz">
            <div class="row">
                <div class="copymark">
                    <p>&copy;</p>
                </div>
            </div>
            <img src="resources/image/djz.png" class="img-fluid border-5" alt="To the moon and back." />
        </div>
        <div class="col-md-6 about-content">
            <div class="about-1">
                <h3>About me </h3>
                <h5>I'm a freshly graduated Junior Full-Stack Developer.</h5>
                <p>After completing &lt;Academia de Código_&gt;'s 54th Bootcamp in Fundão, Portugal, I'm proud to
                    announce that I became a <b>Junior Full-Stack Developer</b>.</p>

                <p>But the digital experience never ends for me. I'm always looking for new opportunities and projects
                    to assist, work and lead on.</p>

                <p>The technologies I use the most are HTML, CSS, Javascript and Java (Object-Oriented). I also know how
                    to use PHP, and how to develop with Node.js, jQuery, and Bootstrap 5.</p>
                <p>Relating to Java, I know how to use Spring, Maven and Gradle.</p>
                <ul class="social-ul">
                    <li class="box-social"><a href="https://www.denzqree.com/curriculum.pdf" target="_blank"><i
                                class="fas fa-coffee"></i></a></li>
                    <li class="box-social"><a href="https://www.buymeacoffee.com/denzqree" target="_blank"><i
                                class="fas fa-beer"></i></a></li>
                    <li class="box-social"><a href="https://www.github.com/denzqree" target="_blank"><i
                                class="fab fa-github-square"></i></a></li>
                    <li class="box-social"><a href="https://www.linkedin.com/in/vdanielmadeira" target="_blank"><i
                                class="fab fa-linkedin"></i></a></li>
                    <li class="box-social"><a href="https://www.instagr.am/denzqree" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="box-social"><a href="https://www.twitter.com/denzqree" target="_blank"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="box-social"><a href="https://www.twitch.tv/denzqree" target="_blank"><i
                                class="fab fa-twitch"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container skills-container border-5 h-100">
    <div class="row">
        <div class="col-md-12">
            <h2>My technologies</br></h2>
            <i class="devicon-bash-plain" alt="bash"></i>
            <i class="devicon-linux-plain" alt="linux"></i>
            <i class="devicon-windows8-original" alt="windows"></i>
            <i class="devicon-apple-original" alt="apple"></i>
            <i class="devicon-java-plain" alt="java"></i>
            <i class="devicon-javascript-plain" alt="javascript"></i>
            <i class="devicon-jquery-plain-wordmark" alt="jquery"></i>
            <i class="devicon-nodejs-plain" alt="nodejs"></i>
            <i class="devicon-html5-plain-wordmark" alt="html5"></i>
            <i class="devicon-css3-plain-wordmark" alt="css3"></i>
            <i class="devicon-bootstrap-plain-wordmark" alt="bootstrap"></i>
            <i class="devicon-git-plain" alt="git"></i>
            <i class="devicon-mysql-plain" alt="mysql"></i>
            <i class="devicon-photoshop-plain" alt="adobe photoshop"></i>
            <i class="devicon-premierepro-plain" alt="adobe premiere"></i>
        </div>
    </div>
</div>

<div class="container contact-container border-5 h-100">
            <form id="contact-form"  method="POST" action="contact" enctype="multipart/form-data">
                <div class="row">
                    <h2>Contact me</h2>
                    <div class="col-md-6">
                        <div class="input-contact">
                            <span>your name</span>
                            <input type="text" name="name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-contact">
                            <span>your email</span>
                            <input type="text" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-contact">
                            <span>subject</span>
                            <input type="text" name="subject" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="textarea-contact">
                            <span>message</span>
                            <textarea name="message" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" name="submit" value="Submit" class="submit border-5">
                    </div>
                </div>
                <div class="contact-info">
                    <p>or directly, sending an e-mail to recruitment(at)denzqree.com</p>
                </div>
                
            </form>
</div>