
    <footer class="footer-upper"></footer>
    <footer class="footer-main">
        <p class="copyright">
            2021 © Daniel Madeira // Visits :&nbsp;
        <%= counter %>
     // Powered by Node.js</p>
    </footer>