<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="css/stylesheet.css" rel="stylesheet">

    <link rel="icon" href="resources/image/fav.png" type="image/x-icon">

    <!-- Player -->
    <link rel="stylesheet" href="css/jquery.button-audio-player.css" />

    <!-- Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>
    

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/68b983447f.js" crossorigin="anonymous"></script>

    <!-- Dev Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.9.0/devicon.min.css">

    <title>Daniel Madeira > Portfolio 2021 > v3.0</title>