<div class="demo">
    <div id="default"></div>
</div>

<script src="js/dist/jquery.button-audio-player.js"></script>
<script>
    (function($) {
    $('#default').buttonAudioPlayer({
        autoplay: true,
        type: 'default',
        src: 'resources/audio/Royalty_Free_Track_Rigel_by_FILMSTRO.wav'
    });
    })(jQuery);
</script>
<!-- Preloader -->
<div id="preloader">
    <div class="pre-container">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- end Preloader -->

<!-- Navbar -->
<nav class="navbar">
    <nav class="navbar navbar-above navbar-expand-lg mx-auto">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link nav-1" href="about">About me</a>
            </div>
            <a class="navbar-brand" href="welcome"><img src="resources/image/logo_1.png" alt="Daniel Madeira"></a>
            <div class="navbar-nav">
                <a class="nav-link nav-2" href="welcome">Portfolio</a>
            </div>
        </div>
    </nav>
</nav>
<nav class="navbar-under">
    <marquee class="marquee-text" behavior="scroll"><u>15 February 2021 :</u> Welcome to v3.0 of my website. Feel free to leave a comment. Portfolio is still an upcoming feature as of now.</marquee>
</nav>