/****************************************
****************************************
**********  Stylesheet for   ***********
********** PORTFOLIO 2021 DM ***********
**********       V2.0        ***********
**********  Daniel Madeira   ***********
****************************************
/****************************************/


/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*---------- TABLE OF CONTENTS -----------/
/*                                        /
/* 1 - General Styles                     /
/* 2 - Navigation Bar                     /
/* 3 - Footer                             /
/* 4 - About me                           /
/* 5 - Preloader                          /
/* 6 - Text formatting                    /
/* x - Additional                         /
/* x - Video Background                   /
/*                                        /
/*----------------------------------------/

/*--------- 1. General Styles -----------*/

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    background: rgba(1, 26, 23, 0.2);
    flex: 1;
    padding: 90px 0;
}

.container {
    width:100%;
}


/*--------- 2. Navigation Bar -----------*/

.navbar {
    height: 130px;
    background: rgba(1, 26, 23);
}

.navbar-under {
    height: 40px;
    background: rgb(0, 85, 71);
}

.navbar-above {
    margin-top: 12px;
    border-radius: 99px;
    z-index: 2;
}

.navbar-brand {
    margin-top: 36px;
    z-index: 1000;
}

.navbar-nav>a {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    color: #00ffea;
}

.navbar-nav>a:hover {
    position: relative;
    top: -5px;
    color: #008388;
}

.navbar-nav>a:active {
    color: #d1fff9;
}



/*--------- 3. Footer -------------------*/

.footer-upper {
    height: 20px;
    background: rgb(0, 85, 71,0.9);
}

.footer-main {
    line-height: 130px;
    text-align: center;
    width: 100%;
    height: 130px;
    background: rgba(1, 26, 23, 0.9);
    background-image: url("../resources/image/logo_2.png");
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(75, 255, 210, 0.8);
}

.footer-main p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


/*--------- 4. About me ----------------*/

.about-container {
    padding: 30px 30px;
    background: rgba(1, 26, 23, 0.80);
}

.about-container h3{
    margin-top:20px;
}

.skills-container {
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px;
    background: rgba(1, 26, 23, 0.80);
}

.skills-container h2 {
    margin-bottom: 20px;
}

.skills-container i {
    margin:3px;
    font-size:8vh;
}

.contact-container {
    padding: 30px 30px;
    margin: 50px auto 20px auto;
    background: rgba(1, 26, 23, 0.80);
}

.contact-container h2 {
    margin-bottom: 20px;
}
.contact-container #contact-form {
    text-align:center;
}

.about-1 {
    min-height: 100%;
}

.social-ul {
    position: relative;
    list-style: none;
    padding-left: 0;
    z-index: 6;
}

.social-ul li {
    margin: 0 10px;
    float: left;
    z-index: 6;
}

.social-ul li a {
    font-size: 38px;
    color: rgba(75, 255, 231, 0.8);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #acc6a5;
}

/************ contact form ***************/

.textarea-contact {
    z-index: 5;
    height: 200px;
    width: 100%;
    border: solid 1px #00ffea;
    position: relative;
}

.textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 30px;
    background-color: transparent;
    z-index: 5;
    font-size: 14px;
    color: #9a9a9a;
}

.textarea-contact>span {
    position: absolute;
    top: 15px;
    left: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 5;
}

.input-contact {
    height: 60px;
    width: 100%;
    border: solid 1px #00ffea;
    position: relative;
    margin-bottom: 30px;
}

.input-contact input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 5px 20px;
    position: relative;
    background-color: transparent;
    z-index: 5;
    font-size: 14px;
    color: #9a9a9a;
}

.input-contact>span {
    position: absolute;
    font-size: 12px;
    left:15px;
    text-transform: uppercase;
    color: #cdcdcd;
    z-index: 5;
}

.input-contact>span.active,
.textarea-contact>span.active {
    color: #abc6a5;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #232722;
    padding: 5px;
}

input:focus,
textarea:focus {
    outline: none;
}

.contact-info {
    margin-top: 20px;
}

.submit {
    color:rgb(0, 0, 0); 
    background-color:#00ffea;
    border:none;
    width:100px;
    margin:15px auto 0 auto; 
}

.success-social-ul {
    list-style: none;
}

.success-social-ul li {
    margin: 0 10px;
    float: left;
    z-index: 6;
}

.success-social-ul li a {
    font-size: 38px;
    color: rgba(75, 255, 231, 0.8);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.success-social-ul li a:hover {
    color: #acc6a5;
}

.contact-container {
    text-align:center;
    margin:0 auto;
}

.btn-box {
    background: #00ffea;
    border-radius: 5px;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn-box:hover,
.btn-box:focus {
    background: #012117;
    color: #000;
}

/*--------- 5. Preloader ----------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #012117;
    /* change if the mask should be a color other than white */
    z-index: 100;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #012117;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #00ff9d;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*--------- 6. Text Formatting ----------*/

#content {
    color: rgba(75, 255, 246, 0.8);
}

#content p {
    font-size: 16px;
}

#content h3 {
    font-size: 28px;
}

#content h4 {
    font-size: 25px;
}

#content h5 {
    font-size: 22px;
}


/*--------- x. Video Background ---------*/

#background-video {
    position: fixed;
    width: 1920px;
    top: 0;
    left: 0;
    z-index: -1;
}

/*---------- 8. Back to top ----------*/

#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00ffea; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #backToTop:hover {
    background-color: #012117; /* Add a dark-grey background on hover */
    color:#00ffea;
}

/*---------- ADDITIONAL -----------------*/


.navbar-under {
    color: #00ffea;
    z-index:-1;
    line-height: 40px;
    overflow: hidden;
    opacity: 0.7;
    width:100%;
}

.marquee-text {
    width:100%;
    white-space: nowrap;
    height: 40px;
    font-size: 20px;
}

/*
** INTRO
**/

.hidden {
    opacity:0;
  }
  .console-container {
    font-family:Ubuntu Mono, monospace;
    font-weight:300;
    font-size:80px;
    text-align:center;
    height:200px;
    width:100%;
    display:block;
    position:absolute;
    color:#00ffea;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
  }
  .console-container h2{
    font-size:60px;
    color: #F2F2F2;
    margin:0;
    letter-spacing: 1px;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
  .console-container #text{
    font-size: 80px;
          font-weight: 400;
          color:#00ffea;
          background-image: linear-gradient(-90deg, #00ffea, #008388);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
  }
  .console-underscore{
    color: #00ffea;
  }

/*
** Copyright mark
**/

.djz {
    max-width: 600px;
    max-height: 420px;
    position: relative;
}

.copymark {
    background-color: black;
    line-height: 25px;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 5px 3px 5px 3px;
    font-size: 30px;
    position: absolute;
    left: 14px;
    bottom: -2px;
}

.copymark p {
    line-height: 25px;
    position: relative;
    top: -1px;
    left: -6px;
}


/*
** Rounded Borders
**/

.border-5 {
    border-radius: 5px 3px 5px 3px;
}


/*-------- MEDIA QUERIES -----------------*/


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 575.98px) {
    .navbar {
        height: 80px;
    }
    .navbar-above {
        margin-top: 0px;
        border-radius: 10px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-nav>a {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
    .footer-upper {
        height: 8px;
    }
    .footer-main {
        line-height: 80px;
        height: 80px;
    }
    .console-container h2, .console-container #text,.console-container {
        font-size:50px;
    }
}


/* Medium devices (tablets, up to 768px)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        height: 80px;
    }
    .navbar-above {
        margin-top: 0px;
        border-radius: 30px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-nav>a {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
    }
    .footer-upper {
        height: 10px;
    }
    .footer-main {
        line-height: 100px;
        height: 100px;
    }
}


/* Large devices (desktops, up to 1200px )*/

@media (min-width: 768px) and (max-width: 1199.98px) {
    
    .navbar {
        height: 100px;
    }
    .navbar-above {
        margin-top: 2px;
        border-radius: 45px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 135px;
        margin-top:-10px;
    }
    .navbar-nav>a {
        margin-left: 30px;
        margin-right: 30px;
        margin-top:-10px;
        font-size: 25px;
    }
    .footer-upper {
        height: 10px;
    }
    .footer-main {
        line-height: 100px;
        height: 100px;
    }
}


/* XX-Large devices (larger desktops, 1400px and up)*/

@media (min-width: 1400px) {
    #background-video {
    width: 100%;
    }   
    .console-container h2, .console-container #text,.console-container {
        font-size:80px;
    }
}
