/****************************************
****************************************
**********  Stylesheet for   ***********
********** PORTFOLIO 2021 DM ***********
**********       V2.0        ***********
**********  Daniel Madeira   ***********
****************************************
/****************************************/


/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*---------- TABLE OF CONTENTS -----------/
/*                                        /
/* 1 - General Styles                     /
/* 2 - Navigation Bar                     /
/* 3 - Footer                             /
/* 4 - About me                           /
/* 5 - Preloader                          /
/* 6 - Text formatting                    /
/* x - Additional                         /
/* x - Video Background                   /
/*                                        /
/*----------------------------------------/

/*--------- 1. General Styles -----------*/

body {
    font-family: 'PT Sans', sans-serif;
    background: black;
    animation: fadeInAnimation 5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 


.main-container {
    max-width: 1433px;
    max-height: 213px;
    width:80%;
    height: 20%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
animation: fadeInAnimation 8s;
animation-iteration-count: 1; 
animation-fill-mode: forwards; 
}

/*--------- 2. Intro Images -------------*/


.welcome-button > img{
    position: absolute;
    height:100%;
    width:100%;
}
/*------ left -------*/

.intro-left{
animation-name: intro-left;
animation-iteration-count: infinite;
animation-duration: 3s;
}

@keyframes intro-left {
    0%,
    100% {
      left: -3px;
    }
  
    50% {
      left: 33px;
    }
}

/*------ right -------*/

.intro-right{
    animation-name: intro-right;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes intro-right {
    0%,
    100% {
      right: -3px;
    }
  
    50% {
      right: 33px;
    }
}
/*------ middle -------*/

.intro-middle{
    animation-name: intro-middle;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes intro-middle {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
}

/*--------- 5. Preloader ----------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    /* change if the mask should be a color other than white */
    z-index: 100;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #011b21;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #08777a;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*--------- 6. Text Formatting ----------*/

#content {
    color: rgb(255, 151, 75, 0.8);
}

#content p {
    font-size: 16px;
}

#content h3 {
    font-size: 28px;
}

#content h4 {
    font-size: 25px;
}

#content h5 {
    font-size: 22px;
}


/*--------- x. Video Background ---------*/

#background-video {
    position: fixed;
    width: 1920px;
    top: 0;
    left: 0;
    z-index: -1;
}


/*---------- ADDITIONAL -----------------*/


/*
** Copyright mark
**/

.djz {
    max-width: 600px;
    max-height: 420px;
    position: relative;
}

.copymark {
    background-color: black;
    line-height: 25px;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 5px 3px 5px 3px;
    font-size: 30px;
    position: absolute;
    left: 14px;
    bottom: -2px;
}

.copymark p {
    line-height: 25px;
    position: relative;
    top: -1px;
    left: 6px;
}


/*
** Rounded Borders
**/

.border-5 {
    border-radius: 5px 3px 5px 3px;
}


/*-------- MEDIA QUERIES -----------------*/


/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 575.98px) {
    
    .welcome-button > img{
        height:50%;
    }

    .navbar {
        height: 80px;
    }
    .navbar-under {
        height: 8px;
        background: #4a1e05;
    }
    .navbar-above {
        margin-top: 0px;
        border-radius: 10px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-nav>a {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
    .footer-upper {
        height: 8px;
    }
    .footer-main {
        line-height: 80px;
        height: 80px;
    }
}


/* Medium devices (tablets, up to 768px)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        height: 80px;
    }
    .navbar-under {
        height: 8px;
        background: #4a1e05;
    }
    .navbar-above {
        margin-top: 0px;
        border-radius: 30px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 80px;
    }
    .navbar-nav>a {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
    }
    .footer-upper {
        height: 10px;
    }
    .footer-main {
        line-height: 100px;
        height: 100px;
    }
}


/* Large devices (desktops, up to 1200px )*/

@media (min-width: 768px) and (max-width: 1199.98px) {
    .navbar {
        height: 100px;
    }
    .navbar-under {
        height: 10px;
        background: #4a1e05;
    }
    .navbar-above {
        margin-top: 2px;
        border-radius: 45px;
    }
    .navbar-brand {
        margin-top: 0px;
    }
    .navbar-brand img {
        height: 135px;
    }
    .navbar-nav>a {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 25px;
    }
    .footer-upper {
        height: 10px;
    }
    .footer-main {
        line-height: 100px;
        height: 100px;
    }
}


/* XX-Large devices (larger desktops, 1400px and up)*/

@media (min-width: 1400px) {}
