<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
</head>

<body>
    <header>
        <%- include('../partials/_header') %>
    </header>

    <!-- Main Content Area -->
    <main class="main-container">
        <div id="content">
            <%- include('../partials/_about') %>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/_footer.ejs') %>

    <!-- Video Background -->
    <%- include('../partials/_videobackground.ejs') %>

    <!-- Back to the top -->
    <%- include('../partials/_backtotop.ejs') %>

    <!-- Google Analytics -->
    <%- include('../partials/_googlean.ejs') %>

</body>

</html>