<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
</head>

<body>
    <header>
        <%- include('../partials/_header') %>
    </header>

    <!-- Main Content Area -->
    <main class="main-container">
        <div id="content">
            <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
        </div>
    </div>
    </main>

    <script>
        // function([string1, string2],target id,[color1,color2])    
 consoleText(['#Designer', '#Coder', '#Sysadmin'], 'text',['#FF0034']);

function consoleText(words, id, colors) {
  if (colors === undefined) colors = ['#FF0034'];
  var visible = true;
  var con = document.getElementById('console');
  var letterCount = 1;
  var x = 1;
  var waiting = false;
  var target = document.getElementById(id)
  target.setAttribute('style', 'color:' + colors[0])
  window.setInterval(function() {

    if (letterCount === 0 && waiting === false) {
      waiting = true;
      target.innerHTML = words[0].substring(0, letterCount)
      window.setTimeout(function() {
        var usedColor = colors.shift();
        colors.push(usedColor);
        var usedWord = words.shift();
        words.push(usedWord);
        x = 1;
        target.setAttribute('style', 'color:' + colors[0])
        letterCount += x;
        waiting = false;
      }, 1200)
    } else if (letterCount === words[0].length + 1 && waiting === false) {
      waiting = true;
      window.setTimeout(function() {
        x = -1;
        letterCount += x;
        waiting = false;
      }, 1200)
    } else if (waiting === false) {
      target.innerHTML = words[0].substring(0, letterCount)
      letterCount += x;
    }
  }, 25)
  window.setInterval(function() {
    if (visible === true) {
      con.className = 'console-underscore hidden'
      visible = false;

    } else {
      con.className = 'console-underscore'

      visible = true;
    }
  }, 200)
}
    </script>


    <!-- Footer -->
    <%- include('../partials/_footer.ejs') %>

    <!-- Video Background -->
    <%- include('../partials/_videobackground.ejs') %>

    <!-- Back to the top -->
    <%- include('../partials/_backtotop.ejs') %>

    <!-- Google Analytics -->
    <%- include('../partials/_googlean.ejs') %>
</body>

</html>