<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/_head') %>
</head>

<body>
    <header>
        <%- include('../partials/_header') %>
    </header>

    <!-- Main Content Area -->
    <main class="main-container">
        <div id="content">
            <div class="container contact-container">
                <p>Your e-mail was sent to Daniel. Thank you for reaching out !</br>
                    </br>
                </p>
            <h5>Valter Madeira // Junior Full-Stack Developer</h5>

            <a href="/welcome" class="btn btn-box">Return to site</a>
        </div>
        </div>
    </main>


    <!-- Footer -->
    <%- include('../partials/_footer.ejs') %>

    <!-- Video Background -->
    <%- include('../partials/_videobackground.ejs') %>

    <!-- Back to the top -->
    <%- include('../partials/_backtotop.ejs') %>
    
    <!-- Google Analytics -->
    <%- include('../partials/_googlean.ejs') %>
</body>

</html>