<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="resources/image/fav.png" type="image/x-icon">

    <!-- Main CSS -->
    <link href="css/welcome.css" rel="stylesheet">

    <!-- Player -->
    <link rel="stylesheet" href="css/jquery.button-audio-player.css" />

    <!-- Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="js/custom.js"></script>
    
    <title>Welcome to my portfolio</title>
</head>

<body>

    <div class="demo">
        <div id="default"></div>
        <p>Default</p>
    </div>

    <script src="js/dist/jquery.button-audio-player.js"></script>
    <script>
        (function($) {
        $('#default').buttonAudioPlayer({
	        autoplay: true,
            type: 'default',
            src: 'resources/audio/Royalty_Free_Track_Rigel_by_FILMSTRO.wav'
        });
        })(jQuery);
    </script>
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

    <!-- Main Content Area -->
    <main class="main-container">
        <a class="welcome-button" href="/welcome">
            <img class="intro-left" src="resources/image/intro-1.png">
            <img class="intro-right"  src="resources/image/intro-2.png">
            <img class="intro-middle"  src="resources/image/intro-3.png">
        </a>
    </main>

    <!-- Video Background -->
    <video autoplay muted loop id="background-video">
        <source src="resources/video/background.mp4" type="video/mp4">
    </video>

    <!-- Back to the top -->
    <%- include('../partials/_backtotop.ejs') %>
    
    <!-- Google Analytics -->
    <%- include('../partials/_googlean.ejs') %>
</body>

</html>